body {
  background-color:#97DBAE  ;
}
h1 {
  color:#555555;
  border-style: none ;
  border-bottom-style:solid ;
  border-color: white ;
  border-height: 9px;
}
h2{
  color: #555555;
}
h3 {
  color:#555555;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: white;
  border-width: 5px;
  width:20%;
}
img {
  background-color: white;
  width :75px;
  length:75px;
  margin: 0 100px 10px 700px

}
p {
  color: white;
}
ul {
  color:white ;
}
